@use 'variables' as var;

.book-genre {
  &.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 11fr));
    gap: 50px;
  }

  .card {
    position: relative;
    background: var.$book-card-bg;
    box-shadow: var.$book-card-shadow;
    padding: 13px 13px 13px 36px;
    border-radius: var.$book-card-border-radius;
    cursor: pointer;
    font-size: var.$book-card-font-size;
    text-transform: uppercase;
  }

  .card::before,
  .card::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }

  .card::before {
    left: 8px;
    background-image: url('/src/assets/book-solid.png');
    transform: translateY(-50%) scaleX(-1);
  }

  .card::after {
    right: 8px;
    background-image: url('/src/assets/angle-right-solid.png');
  }
}