@use 'variables' as var;

input {
  width: 100%;
  padding: var.$input-padding;
  margin: 10px 0;
  border-radius: var.$input-border-radius;
  border: var.$input-border;
  background: url('/src/assets/magnifying-glass-solid.png') no-repeat 10px center;
  background-size: 16px 16px;
  background-color: var.$input-bg;

  &:focus {
    outline: none;
    border-color: var.$primary;
  }
}