$primary: #5E56E7;
$bg: #ffffff;
$text: #333;

// card styles
$card-bg: #fff;
$card-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
$card-border-radius: 4px;
$card-img-border-radius: 8px;

// input styles
$input-border: 1px solid #ccc;
$input-bg: #eee;
$input-border-radius: 6px;
$input-padding: 10px 10px 10px 36px;

// book card styles
$book-card-bg: #fff;
$book-card-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
$book-card-border-radius: 8px;
$book-card-font-size: 20px;